//*Импорт Обнуление*/
@import "reset_fp.scss";

//*Импорт адаптивный шрифт*/
@import "adfont.scss";


 body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1140px;
	margin: 0px auto;
	position: relative;
	
}

h1 {
	margin-top: 53px;
}

h2.promo__title{
	margin-top: 30px;

}	

.promo{
	min-height: 800px;	
	background: url(../img/bg/header_bg.png) center center;
	background-size: cover;
	padding: 39px 0px 62px 0px;

	&__img{
		display: flex;
		margin: 0 auto;
	}
	&__logotext{
		text-align: center;
		margin-top: 14px;
		color: #ffffff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		text-transform: uppercase;
	}
	&__title{
		color: #f9bf3b;
		font-family: "Roboto - Black";
		//font-size: 41px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		@include adaptiv-font(1140,40,24);
	}
	&__text{
		margin-top: 23px;
		padding: 0 13px;
		text-align: center;
		color: #ffffff;
		font-family: Roboto;
		font-size: 21px;
		font-weight: 300;
		line-height: 28px;
		/* Text style for "Ежедневно" */
		font-family: "Roboto Light";
		font-weight: 300;
	}
    &__text > span{
		color: #f9bf3b;
		font-family: "Roboto - Bold";
		font-weight: 700;
	}
	.simple__bigtext{
		color: #ffffff;
		font-family: "Roboto - Black";
		font-size: 80px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		margin-top: 21px;
	}
	&__button{	
		
		margin: 73px auto ;
		/* Style for "Rounded Re" */		
		width: 313px;
		height: 72px;
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
		border: 4px solid rgba(0, 0, 0, 0.23);
		background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
		color: #ffffff;
		font-family: "Roboto Condensed";
		//padding-top: 20px;
		font-size: 21px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		display: flex !important;
		justify-content: center;
		text-align: center !important;
		cursor: pointer;
		vertical-align: middle;	
		
	
	}
	&__more{
		margin-top: 73px ;
				
		.more__text{
			text-align: center;
			color: #ffffff;
			font-family: "Roboto - Thin";
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}
		.more__img{
			display: flex;
			margin: 0 auto;
			margin-top: 13px;
		}
	
	}
}

.waiting{
	background: #efefef;
	min-height: 604px;
	padding: 85px 0 75px 0;
	

	&__title{
		
		text-align: center;
		color: #252525;
		font-family: Roboto;
		font-size: 30px;
		font-weight: 400;
		line-height: 12px;
		text-transform: uppercase;
	}
	&__div{
		margin: 0 auto;
		margin-top: 18px;
		width: 217px;
		height: 4px;
		background-color: #f9bf3b;
	}
	&__text{
		margin-top: 17px;
		text-align: center;
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 23px;
		font-weight: 400;
		line-height: 20px;
			}
	&__wrapper{
		margin-top: 45px;
		display: flex;
		justify-content: space-between;
	
		.wrapper__item{			
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			max-width: 339px;
		}
		.wrapper_desc{
			color: #4a4a4a;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			line-height: 21px;
			margin: 33px 1px 0px 1px;
			text-align: center;
			
		}
		.wrapper__img{
			width: 100%;
		}
	}
}

.whatis {
	 min-height: 550px;
	 padding: 102px 0 107px 0;	 

	&__titel {
		margin-left:391px;
		color: #299cbd;
		font-family: "Roboto - Black";
		font-size: 30px;
		font-weight: 400;
		line-height: 12px;
		text-transform: uppercase;
	}
	&__text { 
		margin-left: 391px;
		margin-top: 25px;
		width: 750px;
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 300;
		line-height: 27px;		
	}
	.whatis__img{
		position: absolute;
		top:-58px;
		left:-240px;
		z-index: -1;
	}
}

.finish{
	min-height: 447px;
	padding: 86px 0 79px 0;
	background: url('../img/bg/midle_bg.png') center center/cover no-repeat;

	&__title{
		text-align: center;
		color: #efefef;
		font-family: Roboto;
		font-size: 30px;
		font-weight: 400;
		line-height: 12px;
		text-transform: uppercase;
	}
	&__wrapper{
		margin-top: 41px;
		display: flex;
		justify-content: space-between;
	}
	&__item{
		width: 204px;
	}
	&__round{
		width: 115px;
		height: 115px;
		background-color: #b4e2ff;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.round__desc{
		text-align: center;
		margin-top: 25px;	
		color: #efefef;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 300;
		line-height: 20px;
			}

}

.gift{
	padding: 86px 0px 87px 0px;
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__img{
		display: flex;
		justify-content: center;		
		margin: 0 auto;
	}

	&__text{
		margin-top: 42px;
		max-width: 1131px;
		text-align: center;
		color: #252525;
		font-family: Roboto;
		font-size: 30px;
		font-weight: 400;
		line-height: 43px;
	}
}

.webinar{
	padding: 82px 0px 64px 0px;
	height: 519px;

	&__img{
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	&__text1{
		margin-top: 37px;
		color: #252525;
		font-family: Roboto;
		font-size: 30px;
		font-weight: 400;
		line-height: 12px;
		text-transform: uppercase;
		text-align: center;
	}
	&__title{
		text-align: center;
		margin-top: 30px;
		color: #299cbd;
		font-family: "Roboto - Black";
		font-size: 36px;
		font-weight: 400;
		line-height: 12px;
		text-transform: uppercase;
	}

	&__stext{
		text-align: center;
		margin-top: 25px;
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 23px;
		font-weight: 400;
		line-height: 20px;
	}
}



.footer {
	padding: 61px 0px 69px 0px;
	height: 166px;
	background-color: #1a1a1a;
	display: flex;
	justify-content: center;
	color: #888888;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	
	a{
		color: #888888;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	text-decoration: underline;
	}
	&__phone{
		text-align: center;
	}
 }