/*Импорт Обнуление*/
@import "reset_fp.scss";

/*Переменные*/
$fz1: 20px;

.body-div{
    background-color: gray;
    width: 100%;
    font-size: $fz1;     
    color: white;
    border: red 1px solid;
    .level2{       
        background-color: green;
        font-size: $fz1;
        color:gray;
        .level3{
            width: 100%;
            background-color: gray;
            color: white;
        }
    
      
    } 
    &.level3-2{
        color: red;
        font-size: $fz1;
    }
   
}

.google{
    color: yellow;
    text-decoration: underline;
    &:hover{
        color: green;

    }
}